* Fonts */
@font-face {
    font-family: 'Raleway';
    src: local('Raleway'),
        url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff'),
        url('../fonts/Raleway-Regular.ttf') format('truetype'),
        url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway'),
        url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.ttf') format('truetype'),
        url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: local('PlayfairDisplay')
        url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/* Вариант подключения шриітф */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap'); */

/* Normalize */
*,
*::after,
*::before {
    box-sizing: border-box;
}
address {
    font-style: normal;
}
a {
    display: inline-block;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
}


/* Variables */
:root {
    --color-primary: #fff;
    --color-accent: #d4c17f;
    
    --font-family-primary: 'Raleway', sans-serif;
    --font-family-title: 'Playfair Display', serif;
    
    --color-background-primary: #242b33;
    --color-background-secondary: #2D343C;
}
/* UI Components */
/* Base */
html {
    scroll-behavior: smooth;
}
body {
    color: var(--color-primary);
    font-family: var(--font-family-title);
    font-family: var(--font-family-primary);
    background-color: #242b33;
    font-weight: 400;
    font-size: 16px;
    
}
/* глобально по всему иначе класс::selection */
::selection {
    color: var(--color-primary);
    background-color: var(--color-accent);
}
/* layouts */
.container {
    width: 100%;
    max-width: 1142px;
    margin: 0 auto;
    padding: 0 16px;
}
/* в одну линию шапку */
.header-inn {
        display: flex;
        justify-content: space-between;
        align-items: center;}

.site-nav {
    display: flex;
}
video {
    width: 100%;
        max-width: 1100px;
        margin: auto;
}

section {
    padding: 90px 0;
}
.site-nav-item {
    display: inline-block;
    
}

/* .site-nav-item {
    margin-right: 24px;
}

.site-nav-item:last-child {
    margin-right: 24px;
} */

.site-nav-item +.site-nav-item {
    margin-left: 24px;
}

.site-nav-item:hover {
    border: 1px solid white;
}

.link {
    text-decoration: none;
    color: var(--color-primary);
}

.button {
    padding: 10px 40px;
    color: #fff;
    background-color: var(--color-accent);
    border: 1px solid transparent;
    cursor: pointer;
}
.button:hover {
    background-color: gold;
    box-shadow: 0px 0px 2px 2px rgba(212, 193, 127, 0.2);
}
.button:focus {
    background-color: greenyellow
    box-shadow: 0px 0px 5px 5px rgba(212, 193, 127, 0.2);
}
.button:active {
    background-color: tomato
}    
/* Hero section */
.hero-section-mouse {
    margin-bottom: 200px;
}     
.hero-section-contacts {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}
.contacts-icon {
    width: 24px;
    height: 24px;
    fill: var(--color-primary);
    margin-right: 8px;
}

.contacts-item:hover {
    color: var(--color-accent);
    text-decoration: underline;
}
.contacts-item:hover .contacts-icon {
    fill: var(--color-accent);
}
.hero-section {
    background-color: var(--color-background-primary);
    background-image: 
        linear-gradient(180deg, var(--color-background-primary) 6.56%, rgba(36, 43, 51, 0.3) 50%, var(--color-background-primary) 90%),
        url(../assets/images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

.site-nav-link,
.subnav-link,
.footer-menu-link, 
.footer-contacts-link {
    color: var(--color-primary);
    font-size: 14px;
    line-height: 1.17;
    text-decoration: none;
    /* padding: 8px 12px; */

}
.site-nav-link:hover,
.subnav-link:hover,
.footer-menu-link:hover,
.footer-contacts-link:hover {
    color: var(--color-accent);
    text-decoration: underline
}

/* Hero section */
.hero-section {
    text-align: center;
}

.hero-title {
    color: var(--color-accent);
    font-family: var(--font-family-title);
    font-size: 48px;
    text-align: center;
    max-width: 556px;
    margin: 0 auto 100px;
}

.hero-section-mouse-icon {
    width: 40px;
    height: 40px;
    fill: var(--color-accent); 
}

/* Our Apartsment */
.ourapartsment {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.ourapartsment-item {
    flex-basis: 50%;
    padding: 15px;
}
.ourapartsment-text {
    display: block;
}

/* Benefits */


.benefit-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    width: 100%;
    max-width: 794px;
    margin: 0 auto;
}

.benefit-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-title {
    color: var(--color-accent);
    font-family: var(--font-family-title);
    font-size: 36px;
    line-height: 1.33;
    
}

.benefit-title-icon {
    width: 80px;
    height: 80px;
    fill: var(--color-accent);
    margin-bottom: 53px;
}

.benefit-text {
    color: var(--color-primary);
    font-family: var(--font-family-primary);
    font-size: 20px;
    line-height: 1.35;
    text-align: center;
}


/* Prices table */

.prices-table {
    width: 100%;
    border-collapse: collapse;
}

.caption {
    margin-bottom: 24px;
    text-align: left;
}

.prices-table td,
.prices-table th {
    padding: 8px 16px;
    border: 1px solid var(--color-primary);
    text-align: left;
}
.prices-table thead, 
.prices-table tfoot {
    background-color: rgba(255, 255, 255, 0.1);;
}

/* view */
.call-to-action {
    background-color: var(--color-background-primary);
    background-image: url(../assets/images/Rectangle.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* video section */
.video-section-inner {
    width: 720px;
    height: 650px;
    margin: 0 auto;
    

}
.video-section-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Footer */
.footer {
    padding: 48px 0;
    background-color: var(--color-background-secondary);
}

.footer-inn {
    display: flex;
    justify-content: space-between;
    
}

.social-media {
    display: flex;
    align-items: center;
    /* gap: 20px; */
    margin-left: -10px;
}

.social-icon {
    width: 24px;
    height: 24px;
    fill: var(--color-primary);
}

.social-link {
    padding: 10px;
}

.social-link:hover .social-icon {
    fill: var(--color-accent);
}

.footer-contacts,
.footer-menu-item {
    font-size: 14px;
    line-height: 1.17 
    letter-spacing: 0.05em;
}



.footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
