/* Fonts */
@font-face {
    font-family: 'Raleway';
    src: local('Raleway'),
        url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff'),
        url('../fonts/Raleway-Regular.ttf') format('truetype'),
        url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway'),
        url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.ttf') format('truetype'),
        url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: local('PlayfairDisplay')
        url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/* Вариант подключения шриітф */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap'); */
/* Variables */
:root {
    --color-primary: #fff;
    --color-accent: #d4c17f;
    
    --font-family-primary: 'Raleway', sans-serif;
    --font-family-title: 'Playfair Display', serif;
    
    --color-background-primary: #242b33;
}
/* UI Components */
/* Base */
body {
    color: var(--color-primary);
    font-family: var(--font-family-title);
    font-family: var(--font-family-primary);
    background-color: #242b33;
}
.header {
    
}
.button {
    padding: 10px 40px;
    color: #fff;
    background-color: var(--color-accent);
    border: 1px solid transparent;
}
.button:hover {
    background-color: gold;
    box-shadow: 0px 0px 2px 2px rgba(212, 193, 127, 0.2);
}
.button:focus {
    background-color: greenyellow
    box-shadow: 0px 0px 5px 5px rgba(212, 193, 127, 0.2);
}
.button:active {
    background-color: tomato
}         

.site-nav-link,
.subnav-link {
    color: #fff;
}
.site-nav-link:hover,
.subnav-link:hover {
    color: var(--color-accent);
}

.soctial-media {
    ;
}
.title {
    color: var(--color-accent);
    font-family: var(--font-family-title);

}

/* body {
    background-color: tomato;
} */
/* .link-test {
    color: green;
}
.link-test:hover, 
.link-test:focus {
    color: tomato;
} */
/* .header {
    background-color: tomato;
}

.site-nav .site-nav-item {
    background-color: green;
} */

/* Выбирает ~ все р в данном селекторе */
/* + ввыбирает первый и второй
без ничего - все элементы
.view ~ p {
    color: aqua;
}

.subnav .subnav-link {
    color: crimson;
} */

